ansible==1.9.0.1
boto==2.36.0
dj-database-url==0.3.0
Django==1.7.5
ecdsa==0.13
gnureadline==6.3.3
ipython==2.3.1
Jinja2==2.7.3
MarkupSafe==0.23
paramiko==1.15.2
pbr==0.10.0
py==1.4.26
pycrypto==2.6.1
pytest==2.6.4
PyYAML==3.11
six==1.8.0
stevedore==1.1.0
vboxapi==1.0
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
